* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%
}
h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px
}

/*====================================Styling for header=========================*/
.projheader {
    width: 100%;
    height: 100px;
    font-family: "Gill Sans";
    background-color: #3366CC;
    /*text-align: center;*/
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
}
#left{
    width: 35%;
    /*background-color: red;*/
    position: absolute;
    left: 30px;
    top: 10px;
}
#right{
    position: absolute;
    right: 30px;
    top: 30px;

}
.loginInButton{
    width: 100px;
    height: 40px;
    background-color: white;
    color: #3366CC;
    border: none;
    border-radius: 5px;
}
.loginInButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #eeeeee;
}

/*===================================Styling for footer====================================*/
.foot {
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: grey;
}

/*========================STYLING FOR PRODUCTS==================================*/
.products{
    display: flex;
    flex-wrap: wrap;
    /*background-color: red;*/
    width: 89%;
    margin: 0 auto;
    min-height: 20px;
    align-content: center;
}
.productItem{
    width: 250px;
    min-height: 470px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px #ccc;
    margin: 10px;
    position: relative;
}
.productItemImage{
    width: 100%;
    height: 200px;
    background-color: #3366CC;
    border-radius: 4px 4px 0 0 ;
    position: relative;
}
img {
    width: 250px;
    height: 200px;
}
.heatProduct{
    position: absolute;
    top: 5px;
    right: 3px;
    font-family: Gadugi;
    color: #3366CC;
    font-size: 40px;
    font-weight: bolder;

}

.productItem h2{
    font-family: "Gill Sans";
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.productItem p{
    font-family: "Gill Sans";
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
.productItem h4{
    font-family: "Gill Sans";
    text-align: center;
    padding: 5px;
    color: #3366CC;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.productItemButtons{
    display: flex;
    position: absolute;
    bottom: 5px;
    justify-content: space-around;
    align-content: center;
    width: 250px;

}

.productItemViewButton{
    width: 110px;
    height: 30px;
    color: white;
    background-color: #3366CC;
    border-radius: 5px;
    font-family: "Gill Sans";
    text-align: center;
    padding-top: 5px;
}
.productItemViewButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #204ba1;
}

.productItemCartButton{
    width: 110px;
    height: 30px;
    color: #3366CC;
    border: 2px solid #3366CC;
    border-radius: 5px;
    font-family: "Gill Sans";
    text-align: center;
    padding-top: 3px;
}
.productItemCartButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #eeeeee;
}

/*================================STYLING FOR SEARCH BOX===============================*/
.searchBox{
    /*background-color: red;*/
    height: 33px;
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #eeeeee;
    padding-left: 5px;
}
.searchButton{
    width: 95px;
    height: 33px;
    color: white;
    background-color: #3366CC;
    border-radius: 5px;
    border: none;
    font-family: "Gill Sans";
    text-align: center;
}
.searchButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #204ba1;
}

.searchBar{
    /*background-color: pink;*/
    height: 60px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* styles for the suggestion div block and the spans in it*/
#suggestionDiv {
    position: absolute;
    padding: 0;
    margin: 0px auto;
    margin-left: -50px;
    top: 150px;
    background-color: #fff;
    font-size: 0.85em;
    z-index: 9999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,.175);
}

#suggestionDiv span {
    display: block;
    padding: 4px 3px 4px 10px;
    cursor: default;
    min-width: 250px;
    white-space: nowrap;
}

#suggestionDiv span:hover {
    background-color: #F5DEB3;
}

/*==============================DETAIL PAGE STYLING=======================================*/
.detailPageContainer{
    width: 950px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detailPageLeft{
    width: 450px;
    height: 450px;
}
.detailPageProductImage{
    width: 100%;
    height: 450px;
    background-color: #3366CC;
    border-radius: 10px;
}
.detailPageRight{
    width: 450px;
    height: 450px;
    /*background-color: pink;*/
    position: relative;
}
.detailPageCartButton{
    width: 200px;
    height: 40px;
    background-color: #3366CC;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    text-decoration: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    font-family: Gadugi;
    padding-bottom: 10px;
    font-size: 16px;
}
.detailPageCartButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #204ba1;
}
.detailPageBackButton{
    font-family: Gadugi;
    width: 200px;
    height: 40px;
    background-color: #3366CC;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}
.detailPageBackButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #204ba1;
}
.detailPageItemName{
    font-family: Gadugi;
    border-bottom: 2px solid black;
}
.detailPageItemPrice{
    font-family: Gadugi;
    color: #3366CC;
    font-size: 46px;
}
.detailPageItemHeat{
    font-family: Gadugi;
    font-size: 16px;
}
.detailPageItemHeat span{
    font-family: Gadugi;
    color: #3366CC;
    font-size: 22px;
}
.detailPageItemStock{
    font-family: Gadugi;
    font-size: 16px;
}
.detailPageItemStock span{
    font-family: Gadugi;
    color: #3366CC;
    font-size: 22px;
}

/*============STYLING FOR LOGIN PAGE==================*/
.loginContainer{
    min-height: 470px;
    width: 800px;
    margin: 50px auto 0 auto;
    /*background-color: #f0f0f0;*/
}
.greyBar{
    width: 800px;
    height: 70px;
    background-color: #333333;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    font-family: Gadugi;
}
form{
    margin: 10px auto;
    width: 400px;
}
.label{
    font-family: Gadugi;
}
.input{
    width: 100%;
    margin: 10px auto;
    height: 30px;
}

.bottom-row{
    border-top: 2px solid #3366CC;
    margin-top: 20px;
    padding-top: 10px;
}

.submitButton{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    color: white;
    background-color: #3366CC;
    border-radius: 5px;
    font-family: "Gill Sans";
    text-align: center;
    border: none;
}
.submitButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #204ba1;
}
.backButton{
    font-family: Gadugi;
    width: 200px;
    height: 40px;
    background-color: #3366CC;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    text-decoration: none;
}
.backButton:hover{
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #204ba1;
}
.middle-row{
    min-height: 200px;
    /*background-color: red;*/
}
/*============STYLING FOR SEARCH PAGE==================*/
.searchPageBackButton{
    font-family: Gadugi;
    width: 200px;
    height: 40px;
    background-color: #3366CC;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding-top: 8px;
    text-decoration: none;
    position: absolute;
    bottom: 34px;
    right: 50px;
}

/*=================Cart Page Styling=========================*/
.tableNames{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableName{
    width: 200px;
    background-color: #3366CC;
    color: white;
    font-family: Gadugi;
    font-size: 20px;
    padding-left: 6px;
    height: 30px;
}
.tableName2{
    width: 400px;
    background-color: #3366CC;
    color: white;
    font-family: Gadugi;
    font-size: 20px;
    padding-left: 6px;
    height: 30px;
}
.tableItems{
    width: 800px;
}
.tableItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border-bottom: #3366CC solid 2px;
    font-family: Gadugi;
    font-size: 14px;
    padding-left: 6px;
    height: 70px;
}
